.content-detail {
    display: flex;
    flex: 1;
    align-items: center;

    margin: 15px;
    padding: 21px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

.content-img {
    width: 350px;
}

.img-card {
    min-width: 300px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
}

.Content-titulo{
   
    padding: 50px;
   
}

h2{
    color: red;
}

h3{
    color: white;
    font-size: 16px;

}

p{
    /* width: 214px; */
    color: white;
  
}

.text-publication{
    margin: 0;
    padding: 0;
    width: 217px;

}

.text-center-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}