.contenedortarjetas {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 21rem), 1fr));
    gap: 5px;
    flex: 1;
}

.text-center-loading{
    display: flex;
    justify-content: center;
    align-items: center;
}