.home-wrapper {
    display: block;
    padding: 0;
    margin: 0;
    flex: 1;
    height: 100%;
    margin-bottom: 60px;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;

}

.carousel-inner {
    flex: 1;
    /* background-color: aqua; */
    align-items: center;
}


.carousel-item {
    display: block;
    flex: 1;
    /* background-color: gray; */
    align-items: center;

}

img, svg {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }