

ul li {
    list-style: none;
    text-decoration: none;
}
.no-list-style {

    color: white;
    font-size: 18px;
  }
  
  a{
    transition: 1s ease all;
  }

  a:hover{
    background-color:red;

  }