.main-footer {
    background: black;
 
    width: 100%;
}

.fullcontent {
    display: flex;
    gap: 50px;
    justify-content: space-between;

}




.footer-logo {

    width: 200px;
    height: auto;

}



.footer-logo img {
    width: 180px;
}


.links-footer-follow {

    width: 200px;
    border-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}


.creado {
    
    width: 280px;
    display: flex;
}

p {
   
    margin: 0;
 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.icono {
    width: 30px;
    height: 30px;
    color: white;
}
.footer-logo img {
    width: 80px;
}