@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');


#root {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(227, 57, 57);

}
  

.carousel-inner .carousel-item .active .d-block-1 .d-block-2 .d-block-3{
  width: 80px;
    } 


button{
  width: 100%;
  align-items: center;
}
